<footer>
    <div class="dsf container_footer">
        <div class="fl2">a</div>
        <div class="fl2">b</div>
        <div class="fl2">c</div>
        <div class="fl2">d</div>
    </div>  
</footer>
</body>
</html>