<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Search Engine</title>
    <link rel="stylesheet" href="/assets/style.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="./assets/hamburger.js"></script>
</head>

<body>
    <div class="container_main">
        <div class="center">
            <form class="search" action="/searching_process" method="post">
                <input class = "seacrh_tag" type="text" name="search_word" placeholder="  검색어 입력">
                <input class = "search_button" type="submit" value="검색">
            </form>
        </div>
    </div>  
    <a href="#" class="hamburger-button">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </a>

    <div class="nav_mobile_sidebar">
        <nav class="nav_mobile_wrapper">
            <ul>
                <li class="nav_mobile"><a href="/">home</a></li>
                <li class="nav_mobile"><a href="/daum">daum</a></li>
                <li class="nav_mobile"><a href="/naver">naver</a></li>
                <li class="nav_mobile"><a href="/google">google</a></li>
            </ul>
        </nav>
    </div>