<form class="search" action="/search" id='word' method="post">
    <div class="wrapper_sr fl_row">
        <input class = "search_tag fs fl8" type="text" name="search_word" placeholder="검색어를 입력하세요">
        <div class = "search_click fl1" onclick="document.getElementById('word').submit();">
            <img src="./assets/icon/search.png" alt="">
        </div>
        <input class = "search_button" type="submit" value="검색">
    </div>
</form>